{% extends 'basic.html' %}
{% block body %}

  <div class="container my-3">
    <form method="post">
      <div class="mb-3">
        <label for="text" class="form-label">Todo</label>
        <input type="text" value="{{todo.title}}"  name="title" class="form-control" id="text">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="text" value="{{todo.desc}}"  name="desc" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock  %}